# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

# directorios
/bower_components/
/node_modules/
/polygons/
/_sources/
/img/icons/
/data/authorized-vehicle-only
/tiles/philly-pope-map.tm2/
/tiles/philly-pope-polygons.tm2/
/tiles/transit-screens.tm2source/
/transit-screens.tm2/
/tiles/philly-pope-basemap.tm2/icons/
/tiles/philly-pope-basemap.tm2/fonts/
# filetypes
*.qgs
*.bak

# files
dailymaps.pdf

css/geojson.io.mhtml

img/add to homescreen thumbnails.ai

data/authorized-vehicle-only.zip

data/transit-lines.geojson

test/test-septa.html
